/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.section {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.particleBackground {
    width: 100vw;
    height: 200vh;
    z-index: -10;
    position: absolute;
}

.main {
    height: 100vh;
}

.Title {
    display: inline-block;
    font-weight: 700;
    font-size: 8.5rem;
    overflow: hidden;
}

.container {
    margin: 20vh auto 10vh auto;
    width: 1250px;
}

.Text {
    margin: 6vh auto 4rem 0;
    width: 700px;
    display: block;
    font-weight: 400;
    font-size: 1.5rem;
}

.Button {
    margin: 3rem auto 0 auto;
    text-align: center;
    width: 13rem;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.5rem;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    text-decoration: none;
}

.Button:hover {
    border: 2px solid #3B00B9;
    background-color: #3B00B9;
    color: white;
    text-decoration: none;
}

.InfiniteWord {
    position: absolute;
    color: #3B00B9;
}

.InfiniteWordFiller {
    opacity: 0;
    margin-right: 0.5rem;
    display: inline-flex;
}

@media screen and (max-width: 996px) {
    .container {
        width: 90%;
    }
    .Title {
        font-size: 5rem;
        line-height: 1.4;
        display: block;
    }

    .Text {
        width: 90%;
        font-size: 1.25rem;
    }

    .Button {
        font-size: 1rem;
        border: 2px solid #3B00B9;
        background-color: #3B00B9;
        color: white;
    }
}
