.hero {
  color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 160px 0 160px;
  position: relative;
  max-width: 1110px;
  @apply z-1;
}

.hero p {
  max-width: 890px;
  margin: 24px 0;
}

.hero h1 {
  margin: 0;
}

.heroContainer {
  background-color: var(--ifm-color-primary);
  overflow: hidden;
  padding: 0 24px;
}

.decoration {
  position: absolute;
  bottom: -680px;
  right: -750px;
  width: 1500px;
  @apply -z-1;
}

@media (max-width: 996px) {
  .hero {
    padding: 80px 0 160px;
  }

  .hero p {
    margin: 8px 0 32px;
  }

  .decoration {
    bottom: -80vw;
    right: -40vw;
    width: 180vw;
  }
}
