.github/ @dfinity/idx
* @dfinity/editorial

docs/other/updates/release-notes/ @dfinity/dx
docs/building-dapps/calling-dapps/agents/overview @dfinity/dx
docs/building-dapps/developer-tools/cdks/index @dfinity/dx
docs/rosetta-defi/ @dfinity/finint
docs/developer-education/security @dfinity/product-security
docs/references/execution-errors.mdx @dfinity/execution
docs/developer-education/message-execution/ingress-messages.mdx @dfinity/product-security
docs/developer-education/message-execution/message-execution-properties.mdx @dfinity/product-security
docs/building-dapps/dapp-frontends/custom-domains/ @dfinity/boundary-node
docs/building-dapps/using-network-features/using-http/http-certification/ @dfinity/trust

# Each piece of documentation must be owned by the respective teams
docs/building-dapps/using-network-features/simd.mdx @dfinity/execution
docs/building-dapps/using-network-features/periodic-tasks-timers.mdx @dfinity/execution
docs/developer-education/developer-cookbook/developer-best-practices/idempotency.mdx @dfinity/research @dfinity/product-security

# The Interface Specification
docs/references/_attachments/certificates.cddl @dfinity/canister-os
docs/references/_attachments/http-gateway.did @dfinity/canister-os
docs/references/_attachments/ic.did @dfinity/canister-os
docs/references/_attachments/interface-spec-changelog.md @dfinity/canister-os
docs/references/_attachments/requests.cddl @dfinity/canister-os
docs/references/http-gateway-protocol-spec.md @dfinity/canister-os
docs/references/ic-interface-spec.md @dfinity/canister-os

src/pages/security-advisories.tsx @dfinity/product-security
