.github/ @dfinity/idx
* @dfinity/editorial

# Each piece of documentation must be owned by the respective teams
docs/developer-docs/updates/release-notes/ @dfinity/dx @dfinity/editorial @dfinity/growth
docs/developer-docs/getting-started/ @dfinity/dx @dfinity/editorial @dfinity/growth
docs/developer-docs/build/agents @dfinity/dx @dfinity/editorial @dfinity/growth
docs/developer-docs/build/cdks @dfinity/dx @dfinity/editorial @dfinity/growth
docs/developer-docs/smart-contracts/ @dfinity/dx @dfinity/editorial @dfinity/growth
docs/developer-docs/smart-contracts/encryption/ @dfinity/crypto-team @dfinity/editorial @dfinity/dx
docs/developer-docs/smart-contracts/signatures @dfinity/crypto-team @dfinity/editorial @dfinity/dx
docs/developer-docs/smart-contracts/test/pocket-ic.mdx @dfinity/pocket-ic @dfinity/editorial @dfinity/dx
docs/developer-docs/developer-tools/ @dfinity/dx @dfinity/editorial @dfinity/growth @dfinity/dx
docs/developer-docs/web-apps/ @dfinity/dx @dfinity/editorial @dfinity/growth @dfinity/dx
docs/developer-docs/security @dfinity/product-security @dfinity/editorial @dfinity/dx
docs/developer-docs/defi/ @dfinity/finint @dfinity/editorial @dfinity/dx
docs/developer-docs/multi-chain/ @dfinity/cross-chain-team @dfinity/editorial @dfinity/dx
docs/developer-docs/identity/ @dfinity/gix @dfinity/editorial @dfinity/dx
docs/developer-docs/ai/ @dfinity/engineering @dfinity/editorial @dfinity/dx
docs/developer-docs/daos @dfinity/nns-team @dfinity/editorial @dfinity/dx
docs/samples/ @dfinity/growth @dfinity/editorial @dfinity/dx
docs/references/bitcoin-how-it-works.mdx @dfinity/cross-chain-team @dfinity/editorial @dfinity/dx
docs/references/ckbtc-reference.mdx @dfinity/cross-chain-team @dfinity/editorial @dfinity/dx
docs/references/https-outcalls-how-it-works.mdx @dfinity/engineering @dfinity/editorial @dfinity/dx
docs/references/t-sigs-how-it-works.mdx @dfinity/crypto-team @dfinity/editorial @dfinity/dx
docs/references/vetkeys-overview.mdx @dfinity/crypto-team @dfinity/editorial @dfinity/dx
docs/references/supported-signatures.mdx @dfinity/crypto-team @dfinity/editorial @dfinity/dx
docs/references/glossary.mdx @dfinity/dx @dfinity/editorial @dfinity/dx
docs/references/dashboard/ @dfinity/platform-operations @dfinity/editorial @dfinity/dx
docs/references/node-providers/ @dfinity/node @dfinity/editorial @dfinity/dx
docs/references/subnets/ @dfinity/networking @dfinity/editorial @dfinity/dx
docs/references/execution-errors.mdx @dfinity/execution @dfinity/editorial @dfinity/dx
docs/references/ingress-messages.mdx @dfinity/product-security @dfinity/editorial @dfinity/dx
docs/references/message-execution-properties.mdx @dfinity/product-security @dfinity/editorial @dfinity/dx
docs/developer-docs/web-apps/custom-domains @dfinity/boundary-node @dfinity/editorial @dfinity/dx
docs/developer-docs/smart-contracts/advanced-features/simd.mdx @dfinity/execution @dfinity/editorial @dfinity/dx
docs/developer-docs/smart-contracts/advanced-features/periodic-tasks.mdx @dfinity/execution @dfinity/editorial @dfinity/dx
docs/developer-docs/smart-contracts/best-practices/idempotency.mdx @dfinity/research @dfinity/product-security @dfinity/editorial @dfinity/dx

# The Interface Specification
docs/references/_attachments/certificates.cddl @dfinity/canister-os
docs/references/_attachments/http-gateway.did @dfinity/canister-os
docs/references/_attachments/ic.did @dfinity/canister-os
docs/references/_attachments/interface-spec-changelog.md @dfinity/canister-os
docs/references/_attachments/requests.cddl @dfinity/canister-os
docs/references/http-gateway-protocol-spec.md @dfinity/canister-os
docs/references/ic-interface-spec.md @dfinity/canister-os

src/pages/security-advisories.tsx @dfinity/product-security
