[submodule "submodules/sdk"]
	path = submodules/sdk
	url = https://github.com/dfinity/sdk.git
[submodule "submodules/motoko"]
	path = submodules/motoko
	url = https://github.com/dfinity/motoko.git
[submodule "submodules/quill"]
	path = submodules/quill
	url = https://github.com/dfinity/quill.git
[submodule "submodules/internetidentity"]
	path = submodules/internetidentity
	url = https://github.com/dfinity/internet-identity.git
	branch = main
[submodule "submodules/interface-spec"]
	path = submodules/interface-spec
	url = https://github.com/dfinity/interface-spec.git
	branch = public
