[submodule "submodules/sdk"]
	path = submodules/sdk
	url = https://github.com/dfinity/sdk.git
[submodule "submodules/motoko"]
	path = submodules/motoko
	url = https://github.com/dfinity/motoko.git
	branch = fix-links
[submodule "submodules/internetidentity"]
	path = submodules/internetidentity
	url = https://github.com/dfinity/internet-identity.git
	branch = main
[submodule "submodules/samples"]
	path = submodules/samples
	url = https://github.com/dfinity/examples.git
[submodule "submodules/dfxvm"]
	path = submodules/dfxvm
	url = https://github.com/dfinity/dfxvm.git
[submodule "submodules/response-verfication"]
	path = submodules/response-verfication
	url = https://github.com/dfinity/response-verification
