.features {
  background-color: #fbfbfc;
  display: flex;
  align-items: center;
  padding: 6rem 0;
  width: 100%;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
  width: 100%;
}

.feature {
  width: 250px;
  margin: 15px 80px;
}

.link {
  width: 280px;
  margin: 0 22px;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.thin {
  font-weight: normal;
}