.main {
    width: 100%;
    position: relative;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    --swiper-theme-color: var(--ifm-color-primary);
    z-index: 1;
}

.title {
    font-weight: 700;
    font-size: 75px;
    line-height: 85px;
}

.statsContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    margin: 64px auto;
    width: 100%;
}


.stat {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    position: relative;
    text-align: center;
}

.stat + .stat {
    border-left: 1px solid rgb(196, 196, 196);
}

.statTitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #888888;
}

.statValue {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #222121;
}

.body {
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    margin: auto;
    position: relative;
}

.bodyContainer {
    position: relative;
    display: flex;
    height: 380px;
    margin: auto 0;
}

.container {
    width: Min(850px, 90%);
    margin: auto;
    position: relative;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.actionButton {
    margin: 32px auto 0 auto;
    text-align: center;
    padding: 16px 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    position: relative;
}

.actionButton:hover {
    border: 2px solid #3B00B9;
    background-color: #3B00B9;
    color: white;
    text-decoration: none;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 8px;
    margin: 80px auto 180px auto;
    width: Min(1150px, 90%);
}

.card {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(5px);
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 40px 32px 40px 48px;
    height: auto;
    width: calc(33.3% - 8px);
    text-align: start;
}

.mainCard {
    background: #3B00B9;
}

.mainCard .cardTitle,
.mainCard .cardBody,
.mainCard .cardIcon {
    color: white;
}

.cardHover:hover {
    color: white;
    text-decoration: none;
    background: var(--ifm-color-primary);
    border: 1px solid var(--ifm-color-primary);
    transition: all var(--ifm-transition-custom-speed) var(--ifm-transition-custom-curve);
}

.cardHover:hover .cardTitle,
.cardHover:hover .cardIcon,
.cardHover:hover .cardBody {
    color: white;
    text-decoration: none;
    transition: all var(--ifm-transition-custom-speed) var(--ifm-transition-custom-curve);
}

.cardHover:hover .cardBodyContainer,
.cardHover:hover .cardIcon {
    margin-top: -10px;
    margin-bottom: 10px;
    transition: all var(--ifm-transition-custom-speed) var(--ifm-transition-custom-curve);
}

.cardBodyContainer {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 90%;
}

.cardTitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 0;
    color: var(--ifm-color-primary);
}

.cardBody {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin: 8px 0 0 0;
    color: black;
}

.cardIcon {
    color: var(--ifm-color-primary);
    margin: auto;
    width: 24px;
    height: 24px;
}

.mobileSwiper {
    display: none;
    width: 100vw;
}

.mobileStatsContainer {
    display: none;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    margin: 24px auto;
}

.mobileStat {
    display: flex;
    width: 49%;
    flex-direction: column;
    position: relative;
    text-align: center;
}

.mobileStatsHorDivider {
    border-left: 1px solid rgb(196, 196, 196);
    width: 1px;
}

.mobileStatsVerDivider {
    border-bottom: 1px solid rgb(196, 196, 196);
    height: 1px;
    width: 100%;
    margin: 16px;
}

@media screen and (max-width: 996px) {
    .container {
        padding: 320px 0 48px 0;
    }

    .title {
        font-size: 32px;
        line-height: 42px;
    }

    .body {
        font-size: 16px;
        line-height: 24px;
    }

    .actionButton, .statsContainer {
        display: none;
    }

    .mobileStatsContainer {
        display: flex;
    }

    .statTitle {
        font-size: 14px;
        line-height: 22px;
    }

    .statValue {
        font-size: 32px;
        line-height: 42px;
    }

    .mobileSwiper {
        display: block;
    }

    .cards {
        display: none;
    }

    .card {
        width: 100%;
        height: 220px;
        margin: 0 0 40px 0;

    }

    .cardTitle {
        font-size: 18px;
        line-height: 28px;
    }

    .cardBody {
        font-size: 14px;
        line-height: 22px;
    }

    .mainCard {
        background: rgba(255, 255, 255, 0.5);
    }

    .mainCard .cardBody {
        color: black;
    }

    .mainCard .cardTitle, .mainCard .cardIcon {
        color: var(--ifm-color-primary);
    }
}
