.outerContainer {
  position: relative;
  overflow: hidden;
  @apply z-0;
}

.container {
  max-width: 1114px;
  margin: 0 auto;
  padding: 120px 24px 160px;
}

.headingContainer {
  display: flex;
  gap: 48px;
  align-items: baseline;
}
.headingContainer a {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  display: flex;
  gap: 8px;
}

.categoriesContainer {
  display: flex;
  width: 40%;
  margin-top: 120px;
}

.mobileCategoriesContainer {
  display: none;
}

.categories {
  padding-top: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.categories button {
  border: none;
  text-align: left;
  font-size: 32px;
  font-family: "CircularXX", serif;
  line-height: 42px;
  font-weight: 700;
  /* filter: saturate(-100) grayscale(100); */
  transition: color 200ms ease;
  cursor: pointer;
  background-color: transparent;
}

.categories button span {
  transition: color 200ms ease;
}

.categories button:not(.selected):not(:hover),
.categories button:not(.selected):not(:hover) span {
  color: rgba(24, 24, 24, 0.3) !important;
}

.example {
  position: absolute;
  right: -24px;
  font-size: 0;

  flex: 1;
  width: 597px;
  height: 597px;
  border-radius: 24px;
  overflow: hidden;
}
.example img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
}
.link {
  position: absolute;
  left: 32px;
  bottom: 32px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(40px);
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #3b00b9;
  display: inline-flex;
  align-items: center;
  padding: 16px 24px;
  gap: 8px;
}
.link:hover {
  color: black;
  text-decoration: none;
}
.credit {
  position: absolute;
  right: 34px;
  bottom: 10px;

  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: white;
}
.credit:hover {
  color: var(--ifm-color-primary);
  text-decoration: none;
}

.creditToneDown {
  opacity: 0.5;
}

.creditWithPanel {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(40px);
  color: rgba(24, 24, 24, 0.3);
  padding: 12px;
  margin-right: -12px;
  margin-bottom: -12px;
}

@media (min-width: 1600px) {
  /* .categoriesContainer {
  display: flex;
  width: 40%;
  margin-top: 120px;
} */
  .container {
    position: relative;
  }
  .credit {
    right: 10px;
  }
  .example {
    position: absolute;
    right: -184px;
    font-size: 0;

    flex: 1;
    width: 597px;
    height: 597px;
    border-radius: 24px;
    overflow: hidden;
  }
  .example img {
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
  }
}
@media (max-width: 996px) {
  .categoriesContainer {
    display: none;
  }
  .headingContainer {
    flex-direction: column;
    gap: 16px;
  }

  .container {
    /* padding-left: 0; */
    padding: 120px 24px 160px 24px;
  }

  .mobileCategoriesContainer {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    scroll-padding: 50% 0;
    scroll-snap-type: x mandatory;
    scrollbar-width: thin;
    margin: 112px -24px 0 -24px;
    padding-right: 24px;
    padding-bottom: 20px;
  }
  .mobileCategoriesContainer::-webkit-scrollbar {
    width: 12px;
  }

  .mobileCategoriesContainer::-webkit-scrollbar-track {
    margin: 0 24px;
    border-radius: 20px;
  }

  .mobileCategoriesContainer::-webkit-scrollbar-thumb {
    background-color: rgba(24, 24, 24, 30%);
    border-radius: 20px;
  }
  .mobileCategoryCard:nth-child(1) {
    margin-left: 24px;
  }
  .mobileCategoryCard {
    /* max-width: 400px; */
    min-width: min(400px, calc(100vw - 48px));
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .mobileCategoryCard img {
    border-radius: 12px;
  }
  .mobileCategoryCard h3 {
    flex: 1;
    margin-bottom: 32px;
  }

  .link {
    left: 16px;
    bottom: 16px;
    font-size: 14px;
    line-height: 26px;
    color: #3b00b9;
    display: inline-flex;
    align-items: center;
    padding: 12px 24px;
  }
  .link svg {
    width: 20px;
  }
  .credit {
    display: none;
  }
}
