.container {
  max-width: 1114px;
  margin: 0 auto;
  padding: 240px 24px;
  position: relative;
}
.outerContainer {
}

.content {
  width: 40%;
  margin-left: auto;
}

.content h3 {
  margin-bottom: 8px;
}
.content p {
  margin-bottom: 32px;
  color: rgba(24, 24, 24, 0.6);
}

.card {
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(40px);
  border-radius: 12px;
  width: 210px;
  padding: 24px;
}
.card img {
  width: 62px;
  margin-bottom: 24px;
}
.card h3 {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
}

.card p {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: rgba(24, 24, 24, 0.6);
}

.cards {
  align-items: stretch;
  gap: 20px;
  position: absolute;
  bottom: 180px;
  left: 50%;
  transform: translateX(-100%);
}
.cardsDesktop {
  display: flex;
}
.cardsMobile {
  display: none;
}

.stats {
  background: linear-gradient(108.55deg, #3b00b9 0%, #18d0b5 149.76%);
  border-radius: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 34px;
  display: inline-block;
  color: white;
  padding: 0 16px;
}
@media (min-width: 1440px) {
  .card {
    width: 14vw;
  }
  .card img {
    width: 4.25vw;
    margin-bottom: 1.65vw;
  }
  .card h3 {
    margin-bottom: 0.25vw;
    font-size: 1.25vw;
    line-height: 1.9vw;
  }

  .card p {
    margin-bottom: 0.85vw;
    font-size: 0.95vw;
    line-height: 1.5vw;
  }
  .stats {
    font-size: 1vw;
    line-height: 2.4vw;
    padding: 0 1.1vw;
  }
}
@media (min-width: 1920px) {
  .card {
    width: 270px;
  }
  .card img {
    width: 83px;
    margin-bottom: 32px;
  }
  .card h3 {
    margin-bottom: 6px;
    font-size: 24px;
    line-height: 37px;
  }

  .card p {
    margin-bottom: 16px;
    font-size: 19px;
    line-height: 30px;
  }
  .stats {
    font-size: 19px;
    line-height: 46px;
    padding: 0 22px;
  }
}

@media (max-width: 996px) {
  .content {
    width: auto;
    margin-left: 0;
  }

  .cards {
    position: static;
    transform: none;
    overflow-x: scroll;
    scroll-padding: 50% 0;
    scroll-snap-type: x mandatory;
    scrollbar-width: thin;
    margin: 24px -24px 0 -24px;
    padding-bottom: 20px;
    gap:12px;
  }
  .cards::-webkit-scrollbar {
    width: 12px;
  }

  .cards::-webkit-scrollbar-track {
    margin: 0 calc((100vw - Min(1100px, 90vw)) / 2);
    border-radius: 20px;
  }

  .cards::-webkit-scrollbar-thumb {
    background-color: rgba(24, 24, 24, 30%);
    border-radius: 20px;
    border: 3px solid var(--ifm-background-color);
  }
  .cardsDesktop {
    display: none;
  }
  .cardsMobile {
    display: flex;
  }

  .card {
    min-width: 207px;
  }
.card:nth-child(1) {
  margin-left: 24px;
}
.card:last-child{
  margin-right: 24px;
}
  .cards::-webkit-scrollbar-track {
    margin: 0 24px;
  }
  .container {
    max-width: 1114px;
    margin: 0 auto;
    padding: 100px 24px;
    position: relative;
  }
}
