.navbar-sidebar .navbar__search {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
}

.navbar__search-input {
  height: 46px;
  border-radius: 12px;
}

@media (max-width: 996px) {
  .navbar__search-input {
    width: 100%;
  }
  .algolia-autocomplete {
    display: block !important;
  }
}
@media (min-width: 997px) {
  .navbar__search {
    order: 100;
    margin-left: 24px;
    margin-right: 12px;
  }
  .ic0-item {
    order: 101;
  }
  .navbar__search-input {
    --ifm-navbar-search-input-background-color: white;
  }
}
