.navbar-sidebar .navbar__search {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
}

.navbar__search-input {
  height: 46px;
  border-radius: 12px;
}

@media (max-width: 996px) {
  .navbar__search-input {
    width: 100%;
  }
  .algolia-autocomplete {
    display: block !important;
  }
}
@media (min-width: 997px) {
  .navbar__search {
    order: 100;
    margin-left: 24px;
    margin-right: 12px;
  }
  .ic0-item {
    order: 101;
  }
  .navbar__search-input {
    --ifm-navbar-search-input-background-color: white;
  }
}
.navbar__search-input {
  background: var(--ifm-navbar-search-input-background-color);
}
.navbar__search {
  position: relative;
}
.navbar__search-indicator {
  background: var(--ifm-navbar-search-input-icon) no-repeat 0.75rem center /
    1rem 1rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 32px;
}
.navbar__search-indicator--searching {
  background: none;
}
.navbar__search-indicator--searching:after {
  content: " ";
  display: block;
  width: 14px;
  height: 14px;
  margin: 14px 11px;
  border-radius: 50%;
  border: 2px solid #181818;
  border-color: #181818 transparent #181818 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
