.section {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 130px auto 80px auto;
    width: Min(1110px, 90%);
}

.Title {
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;
    font-size: 75px;
    line-height: 85px;
}

.Text {
    margin: 24px 0;
    width: 700px;
    display: block;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
}

.actionButton {
    display: inline-flex;
    text-align: center;
    padding: 16px 24px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    transition: all var(--ifm-transition-custom-speed) var(--ifm-transition-custom-curve);
}

.actionButton:hover {
    border: 2px solid #3b00b9;
    background-color: #3b00b9;
    color: white;
    text-decoration: none;
}

.actionContainer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: row;
}

.callToAction {
    display: inline-flex;
    color: #3b00b9;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    z-index: 1000;
    margin-left: 32px;
    transition: all var(--ifm-transition-custom-speed) var(--ifm-transition-custom-curve);
}

.callToAction:hover {
    color: black;
    text-decoration: none;
}

.callToAction:hover::before {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.7813 7.33336L7.20529 3.75736L8.14796 2.8147L13.3333 8.00003L8.14796 13.1854L7.20529 12.2427L10.7813 8.6667H2.66663V7.33336H10.7813Z' fill='black'/%3E%3C/svg%3E%0A") no-repeat;
}

.callToAction::before {
    content: "";
    width: 24px;
    height: 24px;
    display: flex;
    align-self: center;
    margin: auto 0.5rem auto 0;
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.7813 7.33336L7.20529 3.75736L8.14796 2.8147L13.3333 8.00003L8.14796 13.1854L7.20529 12.2427L10.7813 8.6667H2.66663V7.33336H10.7813Z' fill='%233b00b9'/%3E%3C/svg%3E%0A") no-repeat;
}

@media screen and (max-width: 996px) {
    .container {
        margin: 40px auto;
    }

    .Title {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 8px;
    }

    .Text {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        width: 100%;
        margin: 0 auto 32px 0;
    }

    .actionButton {
        font-size: 14px;
        line-height: 22px;
        border: 2px solid #3b00b9;
        background-color: #3b00b9;
        color: white;
        margin: 0;
    }

    .callToAction {
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
    }
}
