.main {
    width: 100%;
    position: relative;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    --swiper-theme-color: var(--ifm-color-primary);
    z-index: 1;
}
.anchor {
    display: block;
    position: absolute;
    margin-top: -120px;
    padding-bottom: 120px;
    visibility: hidden;
}
.title {
    font-weight: 700;
    font-size: 75px;
    line-height: 85px;
}

.statsContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    margin: 64px auto;
    width: 100%;
}

.container {
    width: Min(850px, 90%);
    margin: 0 auto;
    position: relative;
    padding: 500px 0 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.teamPhotos {
    position: absolute;
    width: 100%;
    top: 200px;
    height: 500px;
}

.teamPhoto {
    width: 100px;
    height: 100px;
    z-index: -10;
    border-radius: 12px;
    object-fit: cover;
    position: absolute;
}

.mainPhoto {
    width: 1440px;
    z-index: -10;
    position: absolute;
    top: 0;
}

.teamPhotoMobile1, .teamPhotoMobile2 {
    display: none;
}

.photo1 {
    left: -100px;
    top: 100px;
}

.photo2 {
    left: 500px;
    top: -50px;
}

.photo3 {
    right: -150px;
    top: 70px;
}

.photo4 {
    left: 150px;
    top: -50px;
}

.photo5 {
    left: 0;
    top: 0;
}

.photo6 {
    right: -120px;
    top: -100px;
}

.photo7 {
    right: 500px;
    top: 120px;
}

.photo8 {
    left: -100px;
    top: -120px;
}

.photo9 {
    right: 150px;
    top: -120px;
}

.stat {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    position: relative;
    text-align: center;
}

.stat + .stat {
    border-left: 1px solid rgb(196, 196, 196);
}

.statTitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #888888;
}

.statValue {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #222121;
}

.body {
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    margin: auto;
    position: relative;
}

.bodyContainer {
    position: relative;
    display: flex;
    height: 380px;
    margin: auto 0;
}

.actionButton {
    margin: 32px auto 0 auto;
    text-align: center;
    padding: 16px 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 1px;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    position: relative;
    transition: all var(--ifm-transition-custom-speed) var(--ifm-transition-custom-curve);
}

.actionButton:hover {
    border: 2px solid #3B00B9;
    background-color: #3B00B9;
    color: white;
    text-decoration: none;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 8px;
    margin: 80px auto 180px auto;
    width: Min(1150px, 90%);
}

.card {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(5px);
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0 48px;
    margin: auto 0;
    height: 200px;
    width: calc(33.3% - 8px);
    text-align: start;
}

.mainCard {
    background: #3B00B9;
}

.mainCard .cardTitle,
.mainCard .cardBody,
.mainCard .cardIcon {
    color: white;
}

.cardHover {
    transition: all var(--ifm-transition-custom-speed) var(--ifm-transition-custom-curve);
}

.cardHover:hover {
    color: white;
    text-decoration: none;
    padding-bottom: 32px;
    background: var(--ifm-color-primary);
    border: 1px solid var(--ifm-color-primary);
    transition: all var(--ifm-transition-custom-speed) var(--ifm-transition-custom-curve);
}

.cardHover:hover .cardTitle,
.cardHover:hover .cardIcon,
.cardHover:hover .cardBody {
    color: white;
    text-decoration: none;
    transition: all var(--ifm-transition-custom-speed) var(--ifm-transition-custom-curve);
}

.cardBodyContainer {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 90%;
}

.cardTitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 0;
    color: var(--ifm-color-primary);
}

.cardBody {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin: 8px 0 0 0;
    color: black;
}

.cardIcon {
    color: var(--ifm-color-primary);
    margin: auto;
    width: 24px;
    height: 24px;
}

.scrollContainer {
    display: none;
    width: 100vw;
    margin: 32px 0 12px 0;
}

.mobileCardsContainer {
    position: relative;
    z-index: 1000;
    display: flex;
    overflow-x: scroll;
    scroll-padding: 50% 0;
    scroll-snap-type: x mandatory;
    scrollbar-width: thin;
}

.mobileCardsContainer::-webkit-scrollbar {
    width: 12px;
}

.mobileCardsContainer::-webkit-scrollbar-track {
    background: rgba(24, 24, 24, 0%);
    margin: 0 calc((100vw - Min(1100px, 90vw)) / 2);
    border-radius: 20px;
}

.mobileCardsContainer::-webkit-scrollbar-thumb {
    background-color: rgba(24, 24, 24, 20%);
    border-radius: 20px;
    border: 4px solid var(--ifm-background-color);
}

.cardWrapper .card {
    width: 300px;
    padding: 0 32px;
    height: 220px;
}

.cardWrapper {
    scroll-snap-align: none;
    display: inline-block;
    margin: 0 4px 10px 0;
}

.cardWrapper:first-child {
    padding-left: calc((100vw - Min(1100px, 90vw)) / 2);
}

.cardWrapper:last-child {
    margin-right: 0;
    padding-right: calc((100vw - Min(1100px, 90vw)) / 2);
}

.mobileStatsContainer {
    display: none;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    margin: 24px auto;
}

.mobileStat {
    display: flex;
    width: 49%;
    flex-direction: column;
    position: relative;
    text-align: center;
}

.mobileStatsHorDivider {
    border-left: 1px solid rgb(196, 196, 196);
    width: 1px;
}

.mobileStatsVerDivider {
    border-bottom: 1px solid rgb(196, 196, 196);
    height: 1px;
    width: 100%;
    margin: 16px;
}

@media screen and (max-width: 996px) {
    .container {
        padding: 48px 0;
    }

    .title {
        font-size: 32px;
        line-height: 42px;
    }

    .body {
        font-size: 16px;
        line-height: 24px;
    }

    .actionButton, .statsContainer {
        display: none;
    }

    .mobileStatsContainer {
        display: flex;
    }

    .statTitle {
        font-size: 14px;
        line-height: 22px;
    }

    .statValue {
        font-size: 32px;
        line-height: 42px;
    }

    .scrollContainer {
        display: block;
    }

    .cards {
        display: none;
    }

    .cardTitle {
        font-size: 18px;
        line-height: 28px;
    }

    .cardBody {
        font-size: 14px;
        line-height: 22px;
    }

    .mainCard {
        background: rgba(255, 255, 255, 0.5);
    }

    .mainCard .cardBody {
        color: black;
    }

    .mainCard .cardTitle, .mainCard .cardIcon {
        color: var(--ifm-color-primary);
    }

    .mainPhoto {
        display: none;
    }

    .teamPhotoMobile1, .teamPhotoMobile2 {
        display: flex;
        margin: 32px 0;
    }
}
