.subnav {
  background: #e8e4ed;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  position: fixed;
  width: 100%;
  height: var(--ifm-subnav-height);
  transition: top linear;
  padding-left: calc(24px - var(--ifm-navbar-item-padding-horizontal));
  padding-right: calc(24px - var(--ifm-navbar-item-padding-horizontal));
  display: flex;
  align-items: center;
  @apply z-40;
}

.transitionInitial {
  transition-duration: inherit;
}

.transitionMatch {
  transition-duration: var(--ifm-transition-fast);
}

.transitionFaster {
  transition-duration: 100ms;
}

.navbarOffset {
  top: var(--ifm-navbar-height);
}

.navbarZero {
  top: 0;
}
