.transitionInitial {
  transition-duration: inherit;
}

.transitionMatch {
  transition-duration: var(--ifm-transition-fast);
}

.transitionFaster {
  transition-duration: 100ms;
}

.navbarOffset {
  top: var(--ifm-navbar-height);
}

.navbarZero {
  top: 0;
}
