.particleBackground {
    width: calc(100vw - (100vw - 100%));
    height: 200vh;
    position: absolute;
    overflow: hidden;
    mix-blend-mode: multiply;
}

.main {
    width: 100vw;
    position: relative;
    overflow: hidden;
    height: 100%;
}
.BGGradient {
    position: absolute;
    width: Min(100%,1440px);
    height: 100vh;
    margin: 0 calc((100vw - Min(100vw,1440px)) / 2);
}
.BGGradient img {
    display: flex;
    position: absolute;
    min-width: 100%;
    top: -10vh;
    right: -20vw;
    margin-left: auto;
    margin-right: auto;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}

@media screen and (max-width: 426px) {
    .BGGradient img {
        min-width: 600px;
        top:100px;
        right:-125px

    }
}
