.main {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.BGShape {
    z-index: -1000;
    position: absolute;
    -webkit-filter: blur(150px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    top: 50px;
    right: -150px;
    width: 500px;
}

.cards {
    display: grid;
    width: Min(1340px, 90%);
    grid-template-columns: repeat(auto-fit, 320px);
    grid-auto-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 3rem auto;
}
@media screen and (max-width: 996px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
}
