.main {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.container {
    width: Min(1340px, 90%);
    margin: 120px auto;
    position: relative;
}

.BGShape {
    z-index: -1000;
    position: absolute;
    color: #3B00B9;
    top: -350px;
    right: -800px;
    width: 1500px;
}

.cards {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    margin: 46px auto;
    position: relative;
}

.loadMore {
    display: flex;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: rgba(59, 0, 185, 1);
    align-items: center;
    justify-content: center;
    margin-top: 82px;
}

.loadMore p {
    margin-bottom: 0;
}

.loadMore:hover {
    color: rgba(24, 24, 24, 0.6);
}

.plusIcon {
    display: inline-block;
    margin-right: 8px;
    height: 24px;
}

@media screen and (max-width: 996px) {
    .container {
        margin: 42px auto;
    }

    .BGShape {
        right: -300px;
        top: 0;
        min-width: 500px;
    }
}
