.slick-prev {
  left: 5rem;
  z-index: 2;
  border-radius: 100px;
  background: var(--White-30, rgba(255, 255, 255, 0.3));
  /* BG Blur 40 */
  backdrop-filter: blur(20px);
}

.slick-next {
  right: 5rem;
  z-index: 2;
  border-radius: 100px;
  background: var(--White-30, rgba(255, 255, 255, 0.3));
  /* BG Blur 40 */
  backdrop-filter: blur(20px);
}

.slick-track {
  gap: 1rem;
}
