.container {
  max-width: 1114px;
  margin: 0 auto;
  padding: 240px 12px 80px;
  color: white;
}

.container h2 {
  margin-bottom: 24px;
}
.container p {
  margin-bottom: 16px;
  max-width: 660px;
}

.outerContainer {
  background-color: var(--ifm-color-primary);
}

.cards {
  display: flex;
  color: white;
  max-width: 1340px;
  margin: 0 auto;
  gap: 20px;
  padding: 0 12px 240px;
}

.card {
  flex: 1 0;
  padding: 24px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
}

.card svg {
  margin-bottom: 24px;
}
.card h3 {
  margin-bottom: 12px;
  align-self: end;
  word-break: normal;
}

.card p {
  min-height: 112px;
}

@media (max-width: 996px) {
  .cards {
    flex-direction: column;
  }
  .card p {
    min-height: 0;
  }
}
