.container {
  width: Min(1227px, 100%);
  margin: 0 0 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  position: relative;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @apply z-10;
}

.selectBoxes {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  position: relative;
  @apply z-10;
}

.selectBoxContainer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  position: relative;
}

.selectBox {
  display: inline-flex;
  justify-content: center;
  align-items: baseline;
  padding: 10px 16px;
  /* margin: 0 8px; */
  background: rgba(248, 247, 255, 1);
  border: 1px solid #ffffff;
  backdrop-filter: blur(40px);
  border-radius: 12px;
  font-family: "CircularXX", sans-serif;
}

.inputBox {
  padding: 12px 16px;
  background: rgba(248, 247, 255, 1);
  border: 1px solid #ffffff;
  backdrop-filter: blur(40px);
  border-radius: 12px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  font-family: "CircularXX", sans-serif;
}

.selectOptionsContainer,
.sortByOptionsContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  color: black;
}

.sortByOptionsContainer {
  top: 65%;
}

.selectOptions {
  display: inline-flex;
  flex-direction: column;
  margin: 6px auto;
  background: rgba(248, 247, 255, 1);
  border: 1px solid #ffffff;
  border-radius: 12px;
  padding: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

.numberOfItems {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  height: 26px;
  background-color: #ffffff;
  border-radius: 13px;
  padding: 2px 8px;
  margin: 0 12px 0 8px;
}

.clearFilters {
  margin: 0 4px;
  border: none;
  background-color: none;
  font-family: "CircularXX", sans-serif;
}

.clearFilters,
.sortBy {
  display: inline-flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: rgba(24, 24, 24, 0.6);
  align-items: center;
  justify-content: center;
}

.sortByContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  position: relative;
  margin: 0 0 0 auto;
}

.sortBy p {
  margin-bottom: 0;
}

.sortByArrow {
  display: inline-block;
  margin-left: 4px;
  height: 22px;
}

.filterIcon {
  display: inline-block;
  margin-right: 10px;
  height: 20px;
}

.selectTitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 0;
}

.selectionArrow {
  display: inline-block;
  margin-left: 10px;
  width: 12px;
}

.checkbox {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 24px;
  height: 24px;
  border: 1px solid #3b00b9;
  border-radius: 4px;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.checkbox:hover {
  border: 2px solid #3b00b9;
}

.checkbox::before {
  content: "";
  width: 12px;
  height: 12px;
  transform: scale(0);
  box-shadow: inset 1em 1em var(--ifm-color-primary);
  border-radius: 2px;
}

.checkbox:checked::before {
  transform: scale(1);
}

.selectOption {
  display: grid;
  grid-template-columns: 24px auto;
  gap: 12px;
  align-items: center;
  text-transform: capitalize;
}

.selectOption + .selectOption {
  margin-top: 1em;
}

.closeIcon {
  display: flex;
  justify-content: flex-end;
  height: 21px;
  min-width: 21px;
}

.mobileFilterTitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin: 32px 0;
}

.mobileFilterBar {
  display: none;
  position: fixed;
  flex-direction: column;
  background: var(--ifm-navbar-background-color);
  width: 100vw;
  height: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 42px 16px calc(30px + env(safe-area-inset-bottom)) 16px;
  overscroll-behavior: contain;
  transition-property: opacity, visibility, transform;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  overflow: scroll;
  @apply z-20;
}
.mobileFilterBar__show {
}
.mobileFilterContainer {
  display: block;
}
.mobileSelectContainer {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  width: 100%;
}

.mobileSelectContainer p {
  margin-bottom: 24px;
}

.mobileFilterOptions {
  display: inline-flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 32px;
}

.mobileFilterButton,
.mobileFilterClearButton {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 38px;
  position: relative;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

.mobileFilterButton {
  border: 2px solid #3b00b9;
  border-radius: 12px;
  background: #3b00b9;
  color: white;
  margin: 16px 0;
}

.mobileFilterClearButton {
  color: black;
  text-decoration: none;
}

.mobileFilterBarButtonContainer {
  display: none;
  position: fixed;
  width: 100vw;
  bottom: 0;
  left: 0;
  margin: 0 auto calc(env(safe-area-inset-bottom) + 20px) auto;
  @apply z-10;
}

.mobileFilterBarButton {
  justify-content: space-evenly;
  display: flex;
  margin: auto;
  align-items: center;
  width: 215px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  border-radius: 25px;
  color: white;
  -webkit-backface-visibility: hidden;
  padding: 0 10px;
}

.mobileFilterBarButton .numberOfItems {
  color: black;
}

.mobileFilterBarButton .numberOfItems,
.mobileFilterBarButton .filterIcon {
  margin: 0;
}

.filterBarHeader,
.mobileFilterBarHeader {
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

.filterBarHeader {
  display: flex;
}

.mobileFilterBarHeader {
  display: none;
}
@media screen and (max-width: 996px) {
  .mobileFilterBarButtonContainer,
  .mobileFilterBarHeader {
    display: flex;
  }

  .mobileFilterOptions {
    align-self: stretch;
  }
  .mobileFilterBar {
    display: flex;
  }

  .selectBoxes,
  .filterBarHeader {
    display: none;
  }

  .sortByContainer {
    margin: 0 20px 0 auto;
  }
  .inputBox {
    display: block;
    width: 100%;
  }
}
