.main {
    width: 670px;
    margin: auto;
}

.Title {
    display: flex;
    justify-items: center;
    align-items: center;
    font-weight: 700;
    font-size: 75px;
    line-height: 90px;
    color: black;
}

.Body {
    display: flex;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: black;
}

.Container {
    background-color: #F1EEF5CC;
    overflow: hidden;
    padding: 25% 0;
    z-index: 1000;
}

.iconsContainer {
    position: relative;
}

.CallToAction {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    margin: 1rem auto auto 0.25rem;
    color: #3B00B9;
}

.CallToAction:hover {
    color: black;
}

.CallToAction:hover .CallToActionLink {
    color: black;
    text-decoration: none;
}

.CallToActionIcon {
    display: flex;
    width: 24px;
    height: 24px;
    margin-right: 0.25rem;
}

.CallToActionLink {
    font-weight: bold;
}

.dfinityIcon {
    position: absolute;
    top: -220px;
    left: -350px;
}

.gamingIcon {
    position: absolute;
    top: -300px;
    left: -50px;
}

.socialFiIcon {
    position: absolute;
    top: -200px;
    right: 100px;
}

.databaseIcon {
    position: absolute;
    top: -260px;
    right: -170px;
}

.growthIcon {
    position: absolute;
    top: 0;
    right: -400px;

}

.buildingIcon {
    position: absolute;
    left: -380px;
    bottom: -200px;
}

.nftIcon {
    position: absolute;
    left: -280px;
    bottom: 100px;
}

.playIcon {
    position: absolute;
    left: 300px;
    bottom: -250px;
}

.dfinityIcon2 {
    position: absolute;
    right: -150px;
    bottom: -300px;
}

.securityIcon {
    position: absolute;
    right: -250px;
    bottom: 0;

}

@media screen and (max-width: 996px) {
    .main {
        padding: 10% 0 15% 0;
        width: 90%;
    }

    .Title {
        font-size: 3rem;
        line-height: 1.4;
    }

    .CallToActionLink {
        padding-top: 0.5rem;
        font-size: 1.25rem;
    }
    .CallToActionIcon {
        height: 1.25rem;
    }

    .dfinityIcon {
        width: 100px;
        height: 100px;
        left: -50px;
        top: -150px;
    }

    .gamingIcon {
        width: 100px;
        height: 100px;
        left: 150px;
        top: -200px;
    }

    .socialFiIcon {
        width: 100px;
        height: 100px;
        top: -150px;
        right: -50px;
    }

    .databaseIcon {
        width: 100px;
        height: 100px;
    }

    .growthIcon {
        width: 100px;
        height: 100px;
    }

    .buildingIcon {
        width: 100px;
        height: 100px;
        left: -50px;
        bottom: -180px;
    }

    .nftIcon {
        width: 100px;
        height: 100px;
        left: 85%;
        top: 0;
    }

    .playIcon {
        width: 100px;
        height: 100px;
        bottom: -160px;
        left: 150px
    }

    .dfinityIcon2 {
        width: 100px;
        height: 100px;
        bottom: -200px;
        right: 0;
    }

    .securityIcon {
        width: 100px;
        height: 100px;
        bottom: -80px;
        right: -50px;
    }
}


