.section {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 130px auto 120px auto;
    width: Min(1110px, 90%);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 90px;
}

.rightContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto auto auto;
}

.Title {
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;
    font-size: 75px;
    line-height: 85px;
}

.Text {
    margin: 24px 0;
    width: 660px;
    display: block;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
}

.actionButton {
    display: inline-flex;
    text-align: center;
    padding: 16px 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 1px;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    transition: all var(--ifm-transition-custom-speed) var(--ifm-transition-custom-curve);
}

.actionButton:hover {
    border: 2px solid #3b00b9;
    background-color: #3b00b9;
    color: white;
    text-decoration: none;
}

.actionContainer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    flex-direction: row;
}

.canisterGraphic {
    width: 100%;
    max-width: 360px;
    height: auto;
}

.whiteBlur {
    display: block;
    position: absolute;
    width: 900px;
    top: -100px;
    @apply -z-1;
}

@media screen and (max-width: 996px) {
    .container {
        margin: 40px auto;
        flex-direction: column-reverse;
    }

    .Title {
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 12px;
    }

    .Text {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        width: 100%;
        margin: 0 auto 32px 0;
    }

    .actionButton {
        font-size: 14px;
        line-height: 22px;
        padding: 14px 20px;
        margin: 0;
    }

    .canisterGraphic {
        max-width: 245px;
    }

    .whiteBlur {
        display: none;
    }

    .rightContainer {
        margin: 0 auto 24px 0;
    }

    .leftContainer {
        margin-right: 0;
    }
}
