@keyframes hero-scale-in {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animate-fade-up {
  animation: fade-up 500ms ease-out;
  animation-fill-mode: backwards;
}

.animate-scale-in {
  animation: hero-scale-in 1400ms ease-out;
  animation-fill-mode: backwards;
  animation-play-state: paused;
}
.animate-fade-in {
  animation: fade-in 400ms ease-out;
  animation-delay: 2500ms;
  animation-fill-mode: backwards;
  animation-play-state: paused;
}

@keyframes nft-marquee-left {
  from {
    transform: translateX(-25%);
  }
  to {
    transform: translateX(-75%);
  }
}

@keyframes nft-marquee-right {
  from {
    transform: translateX(-75%);
  }
  to {
    transform: translateX(-25%);
  }
}

.nft-marquee-left {
  animation: nft-marquee-left 50s linear infinite;
}

.nft-marquee-right {
  animation: nft-marquee-right 50s linear infinite;
}

@keyframes ethdenver-astronaut {
  from {
    transform: translate(-40px, 100px);
  }
  to {
    transform: translate(0px, 0px);
  }
}

.ethdenver-astronaut {
  animation: ethdenver-astronaut 3s cubic-bezier(0, 0.51, 0.37, 0.94) forwards;
}

@keyframes badge-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.badge-spin {
  animation: badge-spin 10s linear infinite;
}

@keyframes search-loading {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.search-loading {
  animation: search-loading 10s cubic-bezier(0.22, 1, 0.36, 1) infinite;
}

@keyframes enterprise-marquee {
  from {
    transform: translateX(-25%);
  }
  to {
    transform: translateX(-75%);
  }
}

.enterprise-marquee {
  animation: enterprise-marquee 15s linear infinite;
}

.stat-fade-in {
  animation: fade-in 300ms ease-out;
  animation-fill-mode: backwards;
}
