/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@use "sass:meta";

@import "fonts.css";

/* You can override the default Infima variables here. */
:root {
  @include meta.load-css("highlight.js/styles/github");
  font-family: 'CircularXX', sans-serif;
  --ifm-font-family-base: 'CircularXX', sans-serif;
  --ifm-color-primary: #3b00b9;
  --ifm-color-primary-dark: #3500a7;
  --ifm-color-primary-darker: #32009d;
  --ifm-color-primary-darkest: #290082;
  --ifm-color-primary-light: #4100cb;
  --ifm-color-primary-lighter: #4400d5;
  --ifm-color-primary-lightest: #4d00f1;
  --ifm-background-color: #f1eef5;
  --ifm-navbar-height: 110px;
  --ifm-navbar-x-padding: Max(calc((100vw - 1320px) / 2), 50px);
  --ifm-navbar-background-color: rgb(241, 238, 245);
  --ifm-navbar-shadow: 0px 2px 4px rgba(0, 0, 0, 0);
  --ifm-navbar-search-input-color: rgba(24, 24, 24, 0.6);
  --ifm-navbar-search-input-background-color: #f8f3f1;
  --ifm-navbar-search-input-placeholder-color: rgba(24, 24, 24, 0.6);
  --ifm-navbar-search-input-icon: url('data:image/svg+xml;utf8,<svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16px" height="16px"><path d="M11.7668 11.0239L14.6221 13.8786L13.6788 14.8219L10.8241 11.9666C9.76196 12.818 8.4408 13.2812 7.07947 13.2792C3.76747 13.2792 1.07947 10.5912 1.07947 7.27924C1.07947 3.96724 3.76747 1.27924 7.07947 1.27924C10.3915 1.27924 13.0795 3.96724 13.0795 7.27924C13.0814 8.64057 12.6183 9.96173 11.7668 11.0239ZM10.4295 10.5292C11.2755 9.65916 11.748 8.49286 11.7461 7.27924C11.7461 4.70057 9.65747 2.61257 7.07947 2.61257C4.5008 2.61257 2.4128 4.70057 2.4128 7.27924C2.4128 9.85723 4.5008 11.9459 7.07947 11.9459C8.29309 11.9478 9.45939 11.4753 10.3295 10.6292L10.4295 10.5292Z" fill="currentColor" stroke="currentColor" stroke-width="0.5"/></svg>');
  --ifm-footer-background-color: #3b00b9;
  --ifm-transition-custom-speed: 300ms;
  --ifm-transition-custom-curve: cubic-bezier(0, 0, 0.19, 1);
  --ic0-color: #3b00b9;
  scroll-behavior: smooth;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  @include meta.load-css("highlight.js/styles/github-dark");
  --ifm-color-primary: #e11f7a;
  --ifm-color-primary-dark: #cb1b6e;
  --ifm-color-primary-darker: #c01a68;
  --ifm-color-primary-darkest: #9e1555;
  --ifm-color-primary-light: #e43687;
  --ifm-color-primary-lighter: #e6418e;
  --ifm-color-primary-lightest: #ea65a4;
  --ifm-navbar-background-color: #242526;
}

/* fix `react-codejar` line numbers */
.codejar-linenumbers {
  background: none !important;
  color: var(--ifm-secondary) !important;

  &>div {
    text-align: right;
    transform: translateX(-5px);

    [data-theme='dark'] & {
      opacity: .5;
    }
  }
}

.motoko-code-output {
  color: darkgreen;

  [data-theme="dark"] & {
    color: lightgreen;
  }
}

.motoko-code-error {
  color: darkred;

  [data-theme="dark"] & {
    color: pink;
  }
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);

  [data-theme="dark"] & {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

div[class^="announcementBarContent"] {
  background: linear-gradient(90.1deg,
      #fbb03b 1.35%,
      #f57c2d 15.43%,
      #f15a24 26.38%,
      #ed1e79 45.16%,
      #be217d 54.55%,
      #5c2684 76.97%,
      #29abe2 99.92%);
  color: white;
  font-weight: bold;
}

.navbar__link {
  font-weight: var(--ifm-font-weight-bold);
}

.navbar__logo {
  flex: 0 0 auto;
  height: 1.925rem;
  width: 100%;
  margin-right: 0.5rem;
}

.navbar__mobile__logo {
  display: flex;
}

.navbar__mobile__logo img {
  flex: 0 0 auto;
  width: 15rem;
  margin: auto 0.5rem;
}

.navbar {
  z-index: 1901;
  padding: 44px var(--ifm-navbar-x-padding) 20px var(--ifm-navbar-x-padding);
  height: var(--ifm-navbar-height);
  margin: 0 0;
}

@media (max-width: 996px) {
  .navbar {
    height: 72px;
    padding: var(--ifm-navbar-padding-vertical) var(--ifm-navbar-padding-horizontal);
  }
}

.ic0-item img {
  display: flex;
  align-items: center;
  fill: white;
  filter: invert(16%) sepia(55%) saturate(7035%) hue-rotate(260deg) brightness(67%) contrast(131%);
}

.ic0-item:hover img {
  filter: none;
}

.ic0-item span {
  display: none;
}

@media (max-width: 996px) {
  .ic0-item img {
    display: inline-block;
    margin-right: 8px;
  }

  .ic0-item {
    margin-top: 2rem;
    color: var(--ic0-color);
    font-weight: 500;
  }

  .ic0-item span {
    display: inline;
  }
}

.navbar__inner {
  margin-left: auto;
  margin-right: auto;
}

/* Don't display docSidebar items in the top navbar */
.navbar__inner .navbar__items:first-child .navbar__item.navbar__link {
  display: none;
}

/* First dropdown menu is too easy to hide accidentally */
.navbar__inner .navbar__items--right>.dropdown:nth-child(2) {
  padding-left: 4rem;
}

/* on mobile hide the search bar in the top navbar */
@media (max-width: 996px) {
  .navbar__inner .navbar__search {
    display: none;
  }

  .navbar__inner .ic0-item {
    display: none;
  }
}

.navbar__inner .navbar__item.dropdown .navbar__link {
  font-weight: 500;
}

/* top menu hover color */
.navbar__inner .navbar__item:hover.dropdown .navbar__link {
  color: #da3979;
}

/* update top menu chevron icon */
.navbar__inner .navbar__item.dropdown .navbar__link:after {
  border: none;
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.5 10.6669L13.1669 6.00001L14.5 7.33313L8.5 13.3331L2.5 7.33313L3.83312 6.00001L8.5 10.6669Z' fill='currentColor' fill-opacity='0.3'/%3E%3C/svg%3E%0A");
  transform: none;
}

/* colorize the chevron icon on hover */
.navbar__inner .navbar__item:hover.dropdown .navbar__link:after {
  /* https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(62%) sepia(88%) saturate(6408%) hue-rotate(315deg) brightness(90%) contrast(89%);
}

/* Swap the order of the IC logo and the hamburger icon */
@media (max-width: 996px) {
  .navbar__inner .navbar__items:first-child .navbar__toggle {
    order: 2;
  }

  .navbar__inner .navbar__items:first-child .navbar__brand {
    flex: 1;
    order: 1;
  }
}

/* full width sidebar */
.navbar-sidebar {
  --ifm-navbar-sidebar-width: 100vw;
  --ifm-navbar-background-color: white;
  transform: translate3d(100%, 0, 0);
}

/* larger mobile menu items */
.navbar-sidebar .navbar-sidebar__back {
  line-height: 2.25;
}

.navbar-sidebar .menu__list-item a {
  line-height: 2.25;
}

/* make X icon on mobile sidebar black */
.navbar-sidebar__close {
  --ifm-color-emphasis-600: #181818;
}

/* dropdown is positioned too low in the original styles making it easy to hide by accident */
.dropdown__menu {
  top: calc(100% - var(--ifm-navbar-item-padding-vertical) + 4px);
}

@import "typography.css";

@tailwind base;
@tailwind components;
@tailwind utilities;