:root {
  --ifm-menu-color-background-hover: #E8E4ED;
}

div[class*="sidebar_"] {
  border-right: var(--ic0-nav-border);
}

.menu {
  padding: 30px 24px 60px 24px;
  flex-grow: 1;
}

.navbar-sidebar {
  background: var(--ifm-menu-color-background-hover);

  .menu__link, .menu__list-item-collapsible {
    background: var(--ifm-menu-color-background-hover);

    &:hover {
      background: #F1EEF5;
    }
  }
}

.navbar-sidebar__back {
  width: 100%;
  margin: unset;
  background: #F1EEF5;

  &:hover {
    background: var(--ic0-color);
    color: white;
  }
}

.menu__link, .menu__list-item-collapsible, .navbar-sidebar__back {
  border-radius: 8px;
}

.theme-doc-sidebar-item-link-level-3 {
  &.menu__list-item {
    font-weight: 400;

    .menu__link--active {
      font-weight: 500;
    }
  }
}

.menu__caret:before, .menu__link--sublist:after {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.5rem 1.5rem;
}

.menu__link:hover, .menu__list-item-collapsible:hover {
  color: var(--ifm-menu-color-active);

  .menu__caret:before, .menu__link--sublist:after {
    filter: var(--ifm-color-primary-filter);
  }
}

.menu__list .menu__list, .menu__list-item:not(:first-child) {
  margin-top: 0.5rem;
}