.subnav {
  background: #e8e4ed;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  position: sticky;
  width: 100%;
  min-height: var(--ifm-subnav-height);
  padding: var(--ifm-navbar-y-padding) var(--ifm-navbar-x-padding);
  display: flex;
  align-items: center;
  @apply z-40;

  .theme-doc-sidebar-menu.menu__list {
    overflow: hidden;

    &.navbar__link {
      &:first-child {
        padding-left: 0;
      }
    }
  }
}
