.container {
    width: Min(1250px, 90%);
    margin: auto;
    position: relative;
    padding: 100px 0;
}

.background {
    background-color: #F1EEF5CC;
    position: relative;
    overflow: hidden;
}

.title {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: black;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    margin: 3rem auto;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3rem;
    width: 100%;
    height: 200px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
    border-radius: 12px;
}

.card:hover,
.card:hover .cardTitle,
.card:hover .cardBody,
.card:hover .informationIcon {
    background: var(--ifm-color-primary);
    color: white;
    text-decoration: none;
    border: 1px solid var(--ifm-color-primary);
}

.card:hover {
    padding-top: 2rem;
}

.cardContainer {
    width: 90%;
}

.cardTitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: var(--ifm-color-primary);
    margin-bottom: 0.7rem;
}

.cardBody {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: black;
}

.actionButton {
    margin: 3rem auto auto;
    text-align: center;
    width: 13rem;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    text-decoration: none;
}

.actionButton:hover {
    border: 2px solid #3B00B9;
    background-color: #3B00B9;
    color: white;
    text-decoration: none;
}

.informationIcon {
    color: var(--ifm-color-primary);
    margin: auto;
    width: 24px;
    height: 24px;
}

@media screen and (max-width: 996px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 0.5fr;
    }

    .title {
        font-size: 32px;
    }
    .informationIcon {
        width: 16px;
        height: 16px;
    }
}
