/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.section {
    position: relative;
    overflow: hidden;
}

.particleBackground {
    width: 100vw;
    height: 200vh;
    z-index: -1000;
    position: absolute;
}

.main {
    height: 80vh;
}

.Title {
    display: inline-block;
    font-weight: 700;
    font-size: 3em;
    line-height: 1.4;
    overflow: hidden;
}

.container {
    margin: 15vh auto 0 auto;
    width: 80vw;
    font-size: 16px;
}

.Text {
    margin: 15vh auto 4rem 0;
    font-weight: 400;
    font-size: 1.25em;
    width: 70vw;
}

.Button {
    margin: 5vh auto 0 auto;
    text-align: center;
    width: 13rem;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1em;
    border-radius: 10px;
    border: 2px solid #3B00B9;
    background-color: #3B00B9;
    color: white;
    text-decoration: none;
}

.InfiniteWord {
    margin-left: 0;
    color: #3B00B9;
}

.InfiniteWordFiller {
    opacity: 0;
    display: inline-flex;
}

