.main {
    width: 100%;
    position: relative;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
}

.title {
    width: Min(545px, 100%);
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}

.body {
    font-size: 32px;
    font-weight: 400;
    line-height: 42px;
    margin: auto auto 30px auto;
    position: relative;
}

.bodyContainer {
    position: relative;
    display: flex;
    height: 320px;
}

.container {
    width: Min(950px, 90%);
    margin: auto;
    position: relative;
    padding: 100px 42px;
}

.infoContainer {
    display: flex;
    align-content: center;
    justify-content: end;
}

.portrait {
    width: 150px;
    height: 150px;
    margin: auto 25px;
    border-radius: 50%;
}

.details {
    width: 226px;
    align-self: center;
}

.name {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 4px;
}

.position {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
}

.twitterHandle {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
    display: inline-flex;
    align-items: center;
}

.twitterIcon {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    margin-right: 8px;
    align-content: center;
    justify-content: center;
}

.twitterIcon:before {
    content: '';
    width: 16px;
    height: 17px;
    display: flex;
    align-self: center;
    margin: 0;
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 3.04544C15.4113 3.30677 14.7787 3.48277 14.1147 3.5621C14.7927 3.1561 15.3133 2.51277 15.558 1.7461C14.924 2.1221 14.2213 2.39544 13.4733 2.54277C12.8753 1.90477 12.0213 1.5061 11.0773 1.5061C8.958 1.5061 7.40067 3.48344 7.87933 5.5361C5.152 5.39944 2.73333 4.09277 1.114 2.10677C0.254 3.5821 0.668 5.5121 2.12933 6.48944C1.592 6.4721 1.08533 6.32477 0.643333 6.07877C0.607333 7.59944 1.69733 9.0221 3.276 9.33877C2.814 9.4641 2.308 9.49344 1.79333 9.39477C2.21067 10.6988 3.42267 11.6474 4.86 11.6741C3.48 12.7561 1.74133 13.2394 0 13.0341C1.45267 13.9654 3.17867 14.5088 5.032 14.5088C11.1267 14.5088 14.57 9.36144 14.362 4.74477C15.0033 4.28144 15.56 3.70344 16 3.04544Z' fill='%2300ACEE'/%3E%3C/svg%3E%0A") no-repeat;

}

.quotes {
    color: #3b00b9;
    font-size: 80px;
    font-weight: 700;
    line-height: 0;
    position: absolute;
    top: 38px;
    left: -42px;
    margin: 0 8px 0 0
}

.quotes:last-child {
    position: relative;
    top: 32px;
    left: 0;
    margin: 0 0 0 8px
}

.buttonsContainer {
    display: inline-flex;
    margin: auto auto auto 0;
}

.prevButton {;
    text-align: center;
    padding: 12px;
    border: 2px solid black;
    border-radius: 10px;
}

.nextButton {
    text-align: center;
    padding: 12px;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 10px;
}

.prevButton:hover, .nextButton:hover {
    border: 2px solid #3b00b9;
    background: #3b00b9;
}

.prevButton::before {
    content: '';
    width: 16px;
    height: 16px;
    display: flex;
    align-self: center;
    margin: 0;
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.82898 6.99968L9.19298 1.63568L7.77898 0.22168L0.000976562 7.99968L7.77898 15.7777L9.19298 14.3637L3.82898 8.99968H16.001V6.99968H3.82898Z' fill='black'/%3E%3C/svg%3E%0A") no-repeat
}

.prevButton:hover::before {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.82898 6.99968L9.19298 1.63568L7.77898 0.22168L0.000976562 7.99968L7.77898 15.7777L9.19298 14.3637L3.82898 8.99968H16.001V6.99968H3.82898Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat
}

.nextButton::before {
    content: '';
    width: 16px;
    height: 16px;
    display: flex;
    align-self: center;
    margin: 0;
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.172 7.00017L6.808 1.63617L8.222 0.222168L16 8.00017L8.222 15.7782L6.808 14.3642L12.172 9.00017H0V7.00017H12.172Z' fill='black'/%3E%3C/svg%3E%0A") no-repeat
}

.nextButton:hover::before {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.172 7.00017L6.808 1.63617L8.222 0.222168L16 8.00017L8.222 15.7782L6.808 14.3642L12.172 9.00017H0V7.00017H12.172Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat
}

.testimonialIndexIndicator {
    display: none;
}

.currentTestimonial {
    content: '';
    width: 16px;
    height: 6px;
    border-radius: 3px;
    background-color: #3b00b9;
}

.notCurrentTestimonial {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: white;
}

.BGShape1, .BGShape2 {
    z-index: -1000;
    position: absolute;
    -webkit-filter: blur(250px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}

.BGShape1 {
    bottom: -100px;
    right: -50px;
    height: 650px;
}

.BGShape2 {
    top: 0;
    left: -250px;
    height: 750px;
}

@media screen and (max-width: 996px) {
    .container {
        padding: 0 30px;
        margin: 80px auto;
    }

    .title {
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
    }

    .body {
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
    }

    .bodyContainer {
        height: 100%;
    }

    .quotes {
        font-size: 54px;
        top: 26px;
        left: -30px;
    }

    .quotes:last-child {
        position: relative;
        font-size: 54px;
        top: 24px;
        left: -4px;
        margin: 0 0 0 8px
    }

    .infoContainer {
        flex-wrap: wrap;
    }

    .buttonsContainer {
        margin: auto auto 50px auto;
        width: 100%;
        justify-content: center;
    }

    .portrait {
        width: 90px;
        height: 90px;
        margin: auto;
    }

    .details {
        width: 60%
    }

    .name {
        margin: auto;
        font-size: 18px;
        line-height: 28px;
    }

    .position, .twitterHandle {
        margin: auto;
        font-size: 14px;
        line-height: 22px;
    }

    .testimonialIndexIndicator {
        display: flex;
        margin: 50px auto;
        justify-content: space-evenly;
        width: 100px;
    }

    .buttonsContainer {
        display: none;
    }
}
