.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    margin: 4% 4% 8% 4%;
    height: 60vh;
}

.container {
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(5px);
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

.container:hover,
.container:hover .informationTitle,
.container:hover .informationIcon,
.container:hover .informationBody {
    background: var(--ifm-color-primary);
    color: white;
    text-decoration: none;
}

.container:hover .bodyContainer {
    margin-top: -15px;
    margin-bottom: 15px;
}

.bodyContainer {
    margin: 0;
    flex-grow: 1;
}

.informationTitle {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2.75rem;
    color: var(--ifm-color-primary);
}

.informationBody {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 386px;
    color:black;
}

.informationIcon {
    color: var(--ifm-color-primary);
}

.eventTitle {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2.75rem;
    color: white;
}

.eventDate {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: white;

}

.eventContainer {
    width: 100%;
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10% 0 10% 10%;
    background: url("@site/static/img/event_background_stars.png") no-repeat center center;
    overflow: hidden;
}

.eventContainer:hover .eventAction, .eventContainer:hover .eventDescription {
    display: flex;
}

.eventContainer:hover {
    text-decoration: none;
}

.eventContainer:hover .eventBackground {
    margin-bottom: 3rem ;
}
.eventBackground {
    width: 50%;
    margin-top: 15%;
}

.eventDescription {
    display: none;
    color: white;
}
.eventAction {
    display: none;
    color: white;
}
