.container {
    background-color: transparent;
    padding: 0;
    position: relative;
    --swiper-theme-color: white;
    --swiper-pagination-bullet-inactive-color: white;
    --swiper-pagination-bullet-inactive-opacity: 0.30;
    z-index: 2;
}

.showcaseContainer {
    width: 100vw;
    padding: 50px 0;
    margin: auto;
    position: relative;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: Min(1100px, 90%);
    margin: auto auto 50px auto;
}

.title {
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: white;
    z-index: 1000;
    position: relative;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.textCycling {
    position: absolute;
    margin-left: 15px;
}

.headerBody {
    position: relative;
    z-index: 1000;
}

.body {
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    width: 434px;
    z-index: 1000;
}

.callToAction {
    display: inline-flex;
    color: white;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    z-index: 1000;
    transition: all var(--ifm-transition-custom-speed) var(--ifm-transition-custom-curve);
}

.callToAction:hover {
    color: rgba(182, 182, 182, 1);
    text-decoration: none;
}

.callToAction:hover::before {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.7813 7.33336L7.20529 3.75736L8.14796 2.8147L13.3333 8.00003L8.14796 13.1854L7.20529 12.2427L10.7813 8.6667H2.66663V7.33336H10.7813Z' fill='%23b6b6b6'/%3E%3C/svg%3E%0A") no-repeat
}

.callToAction::before {
    content: '';
    width: 24px;
    height: 24px;
    display: flex;
    align-self: center;
    margin: auto 0.5rem auto 0;
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.7813 7.33336L7.20529 3.75736L8.14796 2.8147L13.3333 8.00003L8.14796 13.1854L7.20529 12.2427L10.7813 8.6667H2.66663V7.33336H10.7813Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat
}


.actionButtonContainer {
    width: Min(1100px, 90%);
    margin: 3rem auto;
}

.actionButton {
    text-align: center;
    display: inline-flex;
    padding: 16px 24px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    position: relative;
    z-index: 1000;
    transition: all var(--ifm-transition-custom-speed) var(--ifm-transition-custom-curve);
}

.actionButton:hover {
    border: 2px solid white;
    background-color: white;
    color: #3B00B9;
    text-decoration: none;
}

.BGShape {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1000;
}

.swiperContainer {
    position: relative;
    z-index: 1000;
    width: 100vw;
    margin: 32px 0 12px 0;
    flex-direction: row;
    display: block;
}

.dappContainer {
    background: white;
    display: inline-block;
    height: 100%;
    width: 100%;
}

.dappHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px 16px;
}

.dappIcon {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-right: 16px;
}

.dappInformation {
    height: 95px;
}

.dappName {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}

.dappStats {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.15px;
    margin: 4px 0 8px 0;
    color: #888888;
}

.dappWebsite {
    font-weight: 450;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.15px;
    color: #262626;
    padding: 2px 6px;
    background: #F2F2F2;
    border-radius: 5px;
    transition: color var(--ifm-transition-custom-speed);
}

.dappWebsite:hover {
    color: #c2c6c7;
    text-decoration: none;
}

.dappMedia {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 218px;
    padding: 5% 10% 0 10%;
}

.dappVideo, .dappScreenshot {
    object-fit: contain;
    object-position: bottom;
    width: 100%;
    height: 100%;
}

.dappBody {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.15px;
    color: #888888;
    margin: 20px;
}

.swiperSlide {
    width: 440px;
    height: 560px;
    margin-bottom: 80px;
    padding-left: 50px;
}

.swiperSlide + .swiperSlide {
    width: 390px;
    padding: 0;
}

@media screen and (max-width: 996px) {

    .container {
        background-color: #3b00b9;
    }

    .BGShape {
        display: none;
    }

    .showcaseContainer {
        margin: auto;
        padding: 100px 0;
    }

    .card {
        height: 400px;
    }

    .cardContainer {
        padding: 2rem;
    }

    .cardBody {
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
    }

    .backgroundImage {
        bottom: -10px;
        width: Min(400px, 100%);
    }

    .background {
        display: none;
    }

    .header {
        display: block;
        width: Min(90%, 500px);
    }

    .title, .body {
        width: Min(434px, 90%);
    }

    .title {
        flex-direction: column;
        margin-bottom: 100px;
    }

    .textCycling {
        margin: 0;
        width: 90vw;
    }

    .tooltipContainer {
        display: flex;
    }

    .tooltip {
        font-size: 14px;
    }

    .actionButtonContainer {
        margin: 3rem auto;
        display: block;
        width: Min(90%, 500px);
    }

    .actionButton {
        padding: 14px 24px;
        font-size: 14px;
        line-height: 22px;
    }

    .swiperSlide {
        padding-left: 0;
        width: 338px;
        height: 580px;
    }
    .swiperSlide + .swiperSlide {
        width: 338px;
        padding: 0;
    }
}
