.container {
    background-color: transparent;
    padding: 0;
    position: relative;
    --swiper-theme-color: white;
    --swiper-pagination-bullet-inactive-color: white;
    --swiper-pagination-bullet-inactive-opacity: 0.30;
}

.showcaseContainer {
    width: 100vw;
    padding: 50px 0;
    margin: auto;
    position: relative;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: Min(1100px, 90%);
    margin: auto auto 50px auto;
}

.title {
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: white;
    z-index: 1000;
    position: relative;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.textCycling {
    position: absolute;
    margin-left: 15px;
}

.headerBody {
    position: relative;
    z-index: 1000;
}

.body {
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    width: 434px;
    z-index: 1000;
}

.callToAction {
    display: inline-flex;
    color: white;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    z-index: 1000;
    transition: all var(--ifm-transition-custom-speed) var(--ifm-transition-custom-curve);
}

.callToAction:hover {
    color: rgba(182, 182, 182, 1);
    text-decoration: none;
}

.callToAction:hover::before {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.7813 7.33336L7.20529 3.75736L8.14796 2.8147L13.3333 8.00003L8.14796 13.1854L7.20529 12.2427L10.7813 8.6667H2.66663V7.33336H10.7813Z' fill='%23b6b6b6'/%3E%3C/svg%3E%0A") no-repeat
}

.callToAction::before {
    content: '';
    width: 24px;
    height: 24px;
    display: flex;
    align-self: center;
    margin: auto 0.5rem auto 0;
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.7813 7.33336L7.20529 3.75736L8.14796 2.8147L13.3333 8.00003L8.14796 13.1854L7.20529 12.2427L10.7813 8.6667H2.66663V7.33336H10.7813Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat
}

.swiperContainer {
    position: relative;
    z-index: 1000;
    width: 100vw;
    margin: 32px 0 12px 0;
    flex-direction: row;
    display: block;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 550px;
    background: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    backdrop-filter: blur(5px);
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    margin-bottom: 50px;
}

.card:hover,
.card:hover .cardBody {
    text-decoration: none;
}

.card:hover .backgroundImage {
    bottom: -10px;
    transition: all var(--ifm-transition-custom-speed) var(--ifm-transition-custom-curve);
}

.card:hover .tooltipContainer {
    display: flex;
    transition: all var(--ifm-transition-custom-speed) var(--ifm-transition-custom-curve);
}

.cardHeader {
    width: 90%;
}

.cardContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    padding: 3rem;
}

.cardTitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: var(--ifm-color-primary);
    margin-bottom: 0.7rem;
}

.cardBody {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: black;
    width: Min(300px, 100%);
    height: 96px;
}

.tooltipContainer {
    position: absolute;
    display: none;
    flex-grow: 1;
    justify-content: center;
    z-index: 10;
    bottom: 0;
    left: 0;
    margin: 1rem;
    border-radius: 2rem;
    font-size: 18px;
    font-weight: 600;
}

.tooltip {
    padding: 1rem 1.5rem;
}

.actionButtonContainer {
    width: Min(1100px, 90%);
    margin: 3rem auto;
}

.actionButton {
    text-align: center;
    display: inline-flex;
    padding: 16px 24px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    position: relative;
    z-index: 1000;
    transition: all var(--ifm-transition-custom-speed) var(--ifm-transition-custom-curve);
}

.actionButton:hover {
    border: 2px solid white;
    background-color: white;
    color: #3B00B9;
    text-decoration: none;
}

.iconContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    padding: 10px;
    border-radius: 50%;
    background: white;
    width: 50px;
    height: 50px;
}

.dappIcon {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.backgroundImage {
    width: Min(550px,100%);
    position: absolute;
    right: 0;
    bottom: -50px;
}

.BGShape {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1000;
}

@media screen and (max-width: 996px) {

    .container {
        background-color: #3b00b9;
    }

    .BGShape {
        display: none;
    }

    .showcaseContainer {
        margin: auto;
        padding: 100px 0;
    }

    .cardContainer {
        padding: 2rem;
    }

    .cardBody {
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
    }

    .backgroundImage {
        bottom: -10px;
    }

    .background {
        display: none;
    }

    .header {
        display: block;
        width: Min(90%, 500px);
    }

    .title, .body {
        width: Min(434px, 90%);
    }

    .title {
        flex-direction: column;
        margin-bottom: 100px;
    }

    .textCycling {
        margin: 0;
        width: 90vw;
    }

    .tooltipContainer {
        display: flex;
    }

    .tooltip {
        font-size: 14px;
    }

    .actionButtonContainer {
        margin: 3rem auto;
        display: block;
        width: Min(90%, 500px);
    }
    .actionButton {
        padding: 14px 24px;
        font-size: 14px;
        line-height: 22px;
    }
}
