.main {
    position: relative;
    padding: 100px 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    margin: auto;
    width: Min(1350px, 90%);
    height: 600px;
}

.container {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(5px);
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

.container:hover,
.container:hover .informationTitle,
.container:hover .informationIcon,
.container:hover .informationBody {
    background: var(--ifm-color-primary);
    color: white;
    text-decoration: none;
    border: 1px solid var(--ifm-color-primary);
}

.container:hover .bodyContainer {
    margin-top: -15px;
    margin-bottom: 15px;
}

.bodyContainer {
    margin: 0;
    flex-grow: 1;
}

.informationTitle {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2.75rem;
    color: var(--ifm-color-primary);
}

.informationBody {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: black;
    width: 90%;
}

.informationIcon {
    color: var(--ifm-color-primary);
}

.eventTitle {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2.75rem;
    color: white;
    display: flex;
}

.eventDate {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: white;
    display: flex;
}

.eventContainer {
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10%;
    position: relative;
    background: url("@site/static/img/event_background_stars.png") no-repeat center center;
    overflow: hidden;
}

.eventContainer:hover .eventAction, .eventContainer:hover .eventDescription {
    display: flex;
}

.eventContainer:hover {
    text-decoration: none;
}

.eventContainer:hover .eventBackground {
    margin-bottom: 3rem;
}

.eventBackground {
    width: 50%;
    margin-top: 15%;
    position: absolute;
    right: -50px;
}

.eventDescription {
    display: none;
    color: white;
}

.eventAction {
    display: none;
    color: white;
}

@media screen and (max-width: 996px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
        height: 100%;
    }

    .container {
        display: flex;
    }

    .bodyContainer {
        width: 100%;
    }

    .eventContainer {
        width: 100%;
        margin: 0 auto auto auto;
    }

    .eventBackground {
        display: none;
    }

    .eventAction, .eventDescription {
        display: flex;
    }
}
