.docs {
    color: #29abe2;
  }
  .docs[aria-selected='true'] {
    border-bottom-color: #29abe2;
  }
  
  .refs {
    color: #522785;
  }
  .refs[aria-selected='true'] {
    border-bottom-color: #522785;
  }
  
  .concepts {
    color: #ed1e79;
  }
  .concepts[aria-selected='true'] {
    border-bottom-color: #ed1e79;
  }

  .tokens {
    color: #f15a24;
  }
  .tokens[aria-selected='true'] {
    border-bottom-color: #f15a24;
  }

  .samples {
    color: #FBB03B;
  }
  .samples[aria-selected='true'] {
    border-bottom-color: #FBB03B;
  }

  /* #29abe2 10.78%,
  #522785 22.2%,
  #ed1e79 42.46%,
  #f15a24 59.41%,
  #fbb03b 77.09% */