.container {
    height: 436px;
    border-radius: 12px;
    background-color: #ffffff;
    position: relative;
}

.information {
    height: 236px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.title {
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    margin: 8px 0 10px 0;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.body {
    font-size: 14px;
    line-height: 22px;
    font-weight: 450;
    height: 88px;
    color: rgba(24, 24, 24, 0.6);
    margin-bottom: 0;
    overflow: hidden;
}

.domain {
    position: absolute;
    display: flex;
    top: -15px;
    color: black;
    height: 30px;
    padding: 4px 12px;
    border-radius: 15px;
    justify-items: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(40px);
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}


.footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    margin: auto 0 0 0;
}

.image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.actionButton {
    text-align: center;
    display: inline-flex;
    padding: 8px 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    margin: auto 0 auto auto;
}

.actionButton:hover {
    border: 2px solid #3b00b9;
    background-color: #3b00b9;
    color: white;
    text-decoration: none;
}

.iconLink {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 50%;
    border: 1px solid #dfdfdf;
    width: 40px;
    height: 40px;
    margin-right: 8px;
    color: #3b00b9;
    fill: currentColor;
}

.iconLink:hover {
    border: 2px solid #3b00b9;
    background-color: #3b00b9;
    color: white;
    text-decoration: none;
}

.content {
    position: relative;
    display: flex;
}

.iconLinkTooltipContainer {
    display: flex;
    justify-content: center;
    width: 150px;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(calc(-50% - 4px));
}

.iconLinkTooltip {
    display: none;
    margin-bottom: 4px;
    color: white;
    padding: 4px 12px;
    height: 30px;
    border-radius: 15px;
    background: rgba(24, 24, 24, 0.6);
    backdrop-filter: blur(40px);
    align-items: center;
}

.content:hover .iconLinkTooltip {
    display: inline-flex;
}
