.container {
  max-width: 660px;
  margin: 0 auto;
  position: relative;
  color: white;
}

.heading {
  font-size: 60px;
  line-height: 70px;
  font-weight: 700;
  margin-bottom: 24px;
}

.container > svg {
  width: 162px;
  position: absolute;
}

/* plant icon */
.container > svg:nth-of-type(1) {
  top: -160px;
  right: 20px;
}

/* iot icon */
.container > svg:nth-of-type(2) {
  top: -240px;
  right: -240px;
}

/* db icon */
.container > svg:nth-of-type(3) {
  top: 70px;
  right: -180px;
}
.BGGradient {
  display: flex;
  position: absolute;
  width: 4500px;
  max-width: 4500px;
  left: calc((100vw - 4500px) / 2);
  right: calc((100vw - 4500px) / 2);
  top: -800px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  @apply -z-10;
}
@media (max-width: 996px) {
  .heading {
    font-size: 32px;
    line-height: 42px;
  }

  .container > svg {
    width: 120px;
  }

  /* plant icon */
  .container > svg:nth-of-type(1) {
    top: -150px;
    right: 130px;
  }

  /* iot icon */
  .container > svg:nth-of-type(2) {
    top: -220px;
    right: 0px;
  }

  /* db icon */
  .container > svg:nth-of-type(3) {
    top: -120px;
    right: -30px;
  }
}
