.container {
  max-width: 660px;
  margin: 0 auto;
  position: relative;
  color: white;
}

.heading {
  font-size: 60px;
  line-height: 70px;
  font-weight: 700;
  margin-bottom: 24px;
}

.outerContainer {
  position: relative;
  padding: 240px 24px 160px;
}

.outerContainer > svg {
  position: absolute;
  left: 50%;
  top: calc(50% + 200px);
  transform: translate(-50%, -50%);
  width: 2000px;
  pointer-events: none;
}

.container > svg {
  width: 162px;
  position: absolute;
}

/* plant icon */
.container > svg:nth-of-type(1) {
  top: -160px;
  right: 20px;
}

/* iot icon */
.container > svg:nth-of-type(2) {
  top: -240px;
  right: -240px;
}

/* db icon */
.container > svg:nth-of-type(3) {
  top: 70px;
  right: -180px;
}
.BGGradient {
  display: flex;
  position: absolute;
  width: 2500px;
  max-width: 2500px;
  left: calc((100vw - 2500px) / 2);
  right: calc((100vw - 2500px) / 2);
  top: -600px;
  z-index: -1000;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}
@media (max-width: 996px) {
  .outerContainer {
    padding: 240px 24px 80px;
  }

  .outerContainer > svg {
    left: 50%;
    top: calc(50% + 200px);
    transform: translate(-50%, -50%);
    width: 2000px;
    pointer-events: none;
  }

  .heading {
    font-size: 32px;
    line-height: 42px;
  }

  .container > svg {
    width: 120px;
  }

  /* plant icon */
  .container > svg:nth-of-type(1) {
    top: -150px;
    right: 130px;
  }

  /* iot icon */
  .container > svg:nth-of-type(2) {
    top: -220px;
    right: 0px;
  }

  /* db icon */
  .container > svg:nth-of-type(3) {
    top: -120px;
    right: -30px;
  }
}
