.main {
    width: 100%;
    position: relative;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
}

.votingContainer {
    width: Min(500px, 90%);
    margin: auto;
    position: relative;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
}
.votingTitle {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}

.actionButton {
    margin: auto auto;
    text-align: center;
    padding: 1rem 1.5rem;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    position: relative;
}

.actionButton:hover {
    border: 2px solid white;
    background-color: white;
    color: #3B00B9;
    text-decoration: none;
}

.BGShape {
    position: absolute;
    height: 500px;
    top: -50px;
    left: -50px;
    z-index: -1000;
    -webkit-filter: blur(150px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}

.header {
    width: Min(1100px, 90%);
    margin: 50px auto;
}

.headerTitle {
    width: Min(660px, 100%);
    font-size: 75px;
    font-weight: 700;
    line-height: 90px;
    margin-bottom: 30px;
}

.headerBody {
    width: Min(660px, 100%);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.headerCallToAction {
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    display: inline-flex;
}

.headerCallToAction::before {
    content: '';
    width: 24px;
    height: 24px;
    display: flex;
    align-self: center;
    margin: auto 0.5rem auto 0;
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fillRule='evenodd' clipRule='evenodd' d='M2.08863 21.3024L7.37963 20.1264C8.82825 20.9008 10.446 21.3048 12.0886 21.3024C17.6116 21.3024 22.0886 16.8254 22.0886 11.3024C22.0886 5.77937 17.6116 1.30237 12.0886 1.30237C6.56563 1.30237 2.08863 5.77937 2.08863 11.3024C2.08616 12.945 2.49017 14.5628 3.26463 16.0114L2.08863 21.3024ZM13.1036 8.76534C13.9981 7.9495 14.8455 7.53567 15.6223 7.53567C17.4818 7.53567 18.9941 9.06685 19 10.9527C19 11.2247 18.9646 11.4907 18.9058 11.7449C18.9035 11.7546 18.8977 11.7763 18.8873 11.8075C18.5062 13.2627 17.1899 14.3403 15.6296 14.3461C14.3375 14.3461 13.0317 13.1057 12.0633 11.9866L12.0578 11.9933C12.0578 11.9933 11.6223 11.5026 11.1456 10.9764C11.1456 10.9764 10.6043 10.3497 10.0275 9.79993C9.87049 9.6504 9.28353 9.17699 8.58501 8.89833C8.54213 8.89211 8.50396 8.88975 8.47049 8.88975C7.35241 8.90158 6.44618 9.81791 6.44618 10.9412C6.44618 12.0763 7.35241 12.9926 8.47049 12.9926C8.76471 12.9926 9.28844 12.8389 10.0829 12.1176C10.5124 11.7275 10.8831 11.2959 11.1421 10.9767C11.6188 11.5028 12.0542 11.9935 12.0542 11.9935C11.7835 12.3246 11.4128 12.7384 10.9891 13.1227C10.0946 13.9385 9.24727 14.3524 8.47049 14.3524C6.60507 14.3524 5.09273 12.8212 5.09273 10.9353C5.09273 10.6633 5.12804 10.3973 5.18688 10.1431C5.19098 10.1256 5.20651 10.0691 5.24019 9.98785C5.65003 8.57662 6.94483 7.54136 8.47404 7.53567C9.76574 7.53567 11.071 8.7753 12.0354 9.89405L12.04 9.88858L12.0417 9.89052C12.3122 9.56013 12.6816 9.14808 13.1036 8.76534ZM15.6223 12.9983C15.6044 12.9983 15.5852 12.9976 15.5647 12.996C14.8431 12.7245 14.2315 12.2355 14.0702 12.0819C13.5124 11.5501 12.9877 10.9465 12.9538 10.9074C13.2126 10.5886 13.582 10.1589 14.0098 9.77037C14.8043 9.04321 15.3221 8.89541 15.6223 8.89541C16.7403 8.89541 17.6466 9.81174 17.6466 10.9469C17.6466 12.0701 16.7403 12.9864 15.6223 12.9983Z' fill='%233B00B9'/%3E%3C/svg%3E") no-repeat
}

.headerCallToAction:hover:before {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fillRule='evenodd' clipRule='evenodd' d='M2.08863 21.3024L7.37963 20.1264C8.82825 20.9008 10.446 21.3048 12.0886 21.3024C17.6116 21.3024 22.0886 16.8254 22.0886 11.3024C22.0886 5.77937 17.6116 1.30237 12.0886 1.30237C6.56563 1.30237 2.08863 5.77937 2.08863 11.3024C2.08616 12.945 2.49017 14.5628 3.26463 16.0114L2.08863 21.3024ZM13.1036 8.76534C13.9981 7.9495 14.8455 7.53567 15.6223 7.53567C17.4818 7.53567 18.9941 9.06685 19 10.9527C19 11.2247 18.9646 11.4907 18.9058 11.7449C18.9035 11.7546 18.8977 11.7763 18.8873 11.8075C18.5062 13.2627 17.1899 14.3403 15.6296 14.3461C14.3375 14.3461 13.0317 13.1057 12.0633 11.9866L12.0578 11.9933C12.0578 11.9933 11.6223 11.5026 11.1456 10.9764C11.1456 10.9764 10.6043 10.3497 10.0275 9.79993C9.87049 9.6504 9.28353 9.17699 8.58501 8.89833C8.54213 8.89211 8.50396 8.88975 8.47049 8.88975C7.35241 8.90158 6.44618 9.81791 6.44618 10.9412C6.44618 12.0763 7.35241 12.9926 8.47049 12.9926C8.76471 12.9926 9.28844 12.8389 10.0829 12.1176C10.5124 11.7275 10.8831 11.2959 11.1421 10.9767C11.6188 11.5028 12.0542 11.9935 12.0542 11.9935C11.7835 12.3246 11.4128 12.7384 10.9891 13.1227C10.0946 13.9385 9.24727 14.3524 8.47049 14.3524C6.60507 14.3524 5.09273 12.8212 5.09273 10.9353C5.09273 10.6633 5.12804 10.3973 5.18688 10.1431C5.19098 10.1256 5.20651 10.0691 5.24019 9.98785C5.65003 8.57662 6.94483 7.54136 8.47404 7.53567C9.76574 7.53567 11.071 8.7753 12.0354 9.89405L12.04 9.88858L12.0417 9.89052C12.3122 9.56013 12.6816 9.14808 13.1036 8.76534ZM15.6223 12.9983C15.6044 12.9983 15.5852 12.9976 15.5647 12.996C14.8431 12.7245 14.2315 12.2355 14.0702 12.0819C13.5124 11.5501 12.9877 10.9465 12.9538 10.9074C13.2126 10.5886 13.582 10.1589 14.0098 9.77037C14.8043 9.04321 15.3221 8.89541 15.6223 8.89541C16.7403 8.89541 17.6466 9.81174 17.6466 10.9469C17.6466 12.0701 16.7403 12.9864 15.6223 12.9983Z' fill='black'/%3E%3C/svg%3E") no-repeat
}

.graphsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    margin: 50px auto;
    width: Min(1350px, 90%);
}

.ownershipChart, .votingRewardsChart {
    margin: auto auto 0 auto;
    width: 100%;
}

.graphMobile {
    margin: auto auto 0 auto;
    display: none;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 3rem;
    width: Min(660px, 100%);
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
    border-radius: 12px;
}

.cardTitle {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    width: Min(369px, 100%);
}

.cardCallToAction {
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    padding-bottom: 10px;
    display: inline-flex;
}

.cardCallToAction:hover, .headerCallToAction:hover {
    text-decoration: none;
    color: black;
}

.cardCallToAction::before {
    content: '';
    width: 24px;
    height: 24px;
    display: flex;
    align-self: center;
    margin: auto 0.5rem auto 0;
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.7813 7.33336L7.20529 3.75736L8.14796 2.8147L13.3333 8.00003L8.14796 13.1854L7.20529 12.2427L10.7813 8.6667H2.66663V7.33336H10.7813Z' fill='%233B00B9'/%3E%3C/svg%3E%0A") no-repeat
}

.cardCallToAction:hover:before {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.7813 7.33336L7.20529 3.75736L8.14796 2.8147L13.3333 8.00003L8.14796 13.1854L7.20529 12.2427L10.7813 8.6667H2.66663V7.33336H10.7813Z' fill='black'/%3E%3C/svg%3E%0A") no-repeat
}

@media screen and (max-width: 996px) {

    .headerTitle {
        font-size: 40px;
        line-height: 50px;
    }

    .header {
        margin-bottom: 20px;
    }

    .graphsContainer {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 1fr;
        margin: auto;
        width: 90%;
    }

    .graphDesktop {
        display: none;
    }

    .ownershipChart, .votingRewardsChart {
        display: none;
    }

    .graphMobile {
        display: flex;
    }

    .actionButton {
        font-size: 14px;
        line-height: 22px;
    }

    .card {
        width: 100%;
        padding: 1.5rem;
    }

    .cardTitle, .cardCallToAction {
        font-size: 18px;
        line-height: 28px;
    }

    .votingContainer {
        padding: 50px 0;
    }

    .votingTitle {
        font-size: 24px;
        line-height: 32px;
    }

    .BGShape {
        -webkit-filter: blur(100px);
        height: 250px;
        left: 0;
    }
}
