# Continuous Deployment job to deploy the portal to the Internet Computer as an asset canister
# as well as to the Netlify internetcomputer.org

name: CD

on:
  push:
    branches: [master]

jobs:
  deploy-netlify:
    if: ${{ false }} # Disabled, see https://github.com/dfinity/portal/pull/94
    name: "Deploy to Netlify"
    runs-on: ubuntu-latest

    environment:
      name: "Beta Netlify"
      url: https://smartcontracts.org

    steps:
      - uses: actions/checkout@v2

      - name: Install Dependencies
        run: npm install

      - name: Build site
        run: npm run build

      - name: Deploy Site
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        run: netlify deploy --dir=build --prod

  deploy-ic:
    name: "Deploy to IC"
    runs-on: ubuntu-latest

    environment:
      name: "Internet Computer Mainnet"
      url: ${{ fromJson(steps.get-url.outputs.url) }}

    steps:
      - uses: actions/checkout@v2
      - run: git submodule update --init --remote

      # DFX_IDENTITY has been generated by executing:
      # `awk 'NF {sub(/\r/, ""); printf "%s\\r\\n",$0;}' ~/.config/dfx/identity/default/identity.pem` 
      # on a machine where the Identity has been added as a controller of the canister
      - name: Dump Identity
        run: |
          mkdir ~/.config/dfx
          mkdir ~/.config/dfx/identity
          mkdir ~/.config/dfx/identity/default
          echo $DFX_IDENTITY > ~/.config/dfx/identity/default/identity.pem
          sed -i 's/\\r\\n/\r\n/g' ~/.config/dfx/identity/default/identity.pem
        env:
          DFX_IDENTITY: ${{ secrets.DFX_IDENTITY }}

      - name: Install DFX
        run: sh -ci "$(curl -fsSL https://smartcontracts.org/install.sh)"

      - name: Start deamon
        run: dfx start --background

      - name: Install Dependencies
        run: npm install

      - name: Create canister
        run: dfx canister create portal

      - name: Build canister
        run: dfx build portal
        env:
          CONTENTFUL_ACCESS_TOKEN: ${{ secrets.CONTENTFUL_ACCESS_TOKEN }}
          CONTENTFUL_HOST: ${{ secrets.CONTENTFUL_HOST }}
          CONTENTFUL_SPACE_ID: ${{ secrets.CONTENTFUL_SPACE_ID }}

      - name: Deploy to Mainnet
        run: dfx deploy --network=ic --no-wallet portal

      - name: Get URL
        id: get-url
        run: |
          URL="https://$(cat "$GITHUB_WORKSPACE/canister_ids.json" | jq -r '.portal.ic').raw.ic0.app"
          echo "::set-output name=url::\"$URL\""
